.LI-profile-badge {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  z-index: 1;
}

.LI-badge-container {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.LI-name-container {
  display: block !important;
}

.LI-profile-pic-container,
.LI-name,
.LI-footer {
  display: none !important;
}

.LI-badge-container,
.LI-col {
  width: 100% !important;
}

@media (min-width: 600px) {
  .LI-profile-badge {
    display: block;
  }
}
