body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(0,0,0,0.87);
  background-color: #333;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

h1::first-letter {
  color: red;
}

h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }

p  {
  text-align: justify;
  font-size: 0.90em;
  line-height: 1.5em;
  font-weight: bolder;
  margin: 0.5em 0;
}

nav {
  position: absolute;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.4s;
}

nav ul {
  background-color: #333;
  height: 100vh;
}

nav li a {
  display: block;
  color: #eee;
  padding: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a.active {
  background-color: #888;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav li a img {
  margin: -1.5em 0;
  width: auto;
  height: 4em;
}

header {
  overflow: hidden;
}

main {
  padding: 2em;
  background-color: #eee;
}

footer {
  color: #eee;
  padding: 2em;
  background-color: #333;
}

table, tbody, tr, td {
  display: block;
}

tbody {
  font-size: 80%;
  overflow: hidden;
}

tbody p {
  text-align: left;
}

tbody tr td {
  margin: 10px 0;
}

form input,
form textarea,
form button {
  font-family: inherit;
  font-size: 1em;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

form input,
form textarea {
  margin: 10px 0;
}

form textarea {
  height: 10em;
}

form button {
  cursor: pointer;
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
}

form button:hover,
form button:active,
form button:focus {
  background-color: green;
}

.circle {
  border-radius: 50%;
}

.fit {
  object-fit: contain;
  width: 5em;
  height: 5em;
}

.clear {
  clear: both;
}

.container {
  margin: 0 auto;
}

.centered, .centered p {
  text-align: center;
}

.date {
  color: #888;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.location {
  font-weight: normal;
}

.description {
  font-size: 1.17em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  color: #eee;
  text-align: center;
  font-weight: normal;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.item p {
  font-weight: normal;
  padding: 0 2em;
  transition: all ease-in-out 300ms;
}

.item:hover p {
  opacity: 0;
}

.item::before {
  content: '';
  padding-top: 100%;
}

.item.large {
  grid-row: span 2;
  grid-column: span 2;
}

.item.tall {
  grid-row: span 2;
  grid-column: span 1;
}

.item.one      { background-image: url(../img/gallery/stab.jpg); }
.item.two      { background-image: url(../img/gallery/nollning.jpg); }
.item.three    { background-image: url(../img/gallery/lost_city_pompeii.jpg); }
.item.four     { background-image: url(../img/gallery/program.jpg); }
.item.five     { background-image: url(../img/gallery/marseille_france.jpg); }
.item.six      { background-image: url(../img/gallery/colosseum_rome.jpg); }
.item.seven    { background-image: url(../img/gallery/riomaggiore_cinque_terre.jpg); }
.item.eight    { background-image: url(../img/gallery/genoa_italy.jpg); }
.item.nine     { background-image: url(../img/gallery/villach_austria.jpg); }
.item.ten      { background-image: url(../img/gallery/trdelnik_prague.jpg); }
.item.eleven   { background-image: url(../img/gallery/barcelona_spain.jpg); }
.item.twelve   { background-image: url(../img/gallery/leaning_tower_pisa.jpg); }
.item.thirteen { background-image: url(../img/gallery/blue_lagoon_ayia_napa.jpg); }
.item.fourteen { background-image: url(../img/gallery/la_folie_douce_val_thorens.jpg); }
.item.fifteen  { background-image: url(../img/gallery/zion_national_park.jpg); }

.menu, .menu::before, .menu::after {
  width: 35px;
  height: 5px;
  background-color: #eee;
  transition: 0.4s;
}

.menu {
  position: relative;
}

.menu::before, .menu::after {
  content: '';
  position: absolute;
  left: 0;
}

.menu::before {
  top: -11px;
}

.menu::after {
  top: 11px;
}

label[for=drawer-toggle] {
  display: block;
  cursor: pointer;
  width: 41px;
  margin: 0 0 0 auto;
  padding: 17px 0;
}

#drawer-toggle {
  display: none;
}

#drawer-toggle:checked ~ nav {
  height: auto;
  opacity: 1;
}

#drawer-toggle:checked ~ label[for=drawer-toggle] .menu::before {
  transform: rotate(270deg) translate(-11px, 0px);
}

#drawer-toggle:checked ~ label[for=drawer-toggle] .menu {
  transform: rotate(45deg);
}

#drawer-toggle:checked ~ label[for=drawer-toggle] .menu::after {
  transform: rotate(-270deg) translate(-11px, 0px);
}

/* skillbar list */
dl {
  position: relative;
  z-index: 1;
}

/* skillbar title */
dl dt {
  display: inline-block;
}

/* skillbar percentage */
dl dd {
  display: inline-block;
  float: right;
}

/* skillbar bar */
dl div {
  height: 3px;
  width: 0;
  margin-bottom: 0.5em;
  background-color: #333;
}

/* skillbar bar widths */
dl div.w100{ width: 100%; }
dl div.w95 { width: 95%;  }
dl div.w90 { width: 90%;  }
dl div.w85 { width: 85%;  }
dl div.w80 { width: 80%;  }
dl div.w75 { width: 75%;  }
dl div.w70 { width: 70%;  }
dl div.w65 { width: 65%;  }
dl div.w60 { width: 60%;  }
dl div.w55 { width: 55%;  }
dl div.w50 { width: 50%;  }
dl div.w45 { width: 45%;  }
dl div.w40 { width: 40%;  }
dl div.w35 { width: 35%;  }
dl div.w30 { width: 30%;  }
dl div.w25 { width: 25%;  }
dl div.w20 { width: 20%;  }
dl div.w15 { width: 15%;  }
dl div.w10 { width: 10%;  }

/* skillbar bar background */
dl div::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  /* to be below the parent element */
  z-index: -1;
}

main ul li {
  display: inline-block;
  margin: 15px 15px 30px 0;
}

main ul li a {
  padding: 15px;
  background-color: #fff;
}

main ul li a:hover {
  background-color: #ccc;
}

@media (min-width: 600px) {
  nav {
    display: block;
    position: relative;
    height: auto;
    opacity: 1;
  }

  nav ul {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  nav ul li:nth-child(1) {  order: 3; }
  nav ul li:nth-child(2) {  order: 1; }
  nav ul li:nth-child(3) {  order: 2; }
  nav ul li:nth-child(4) {  order: 4; }
  nav ul li:nth-child(5) {  order: 5; }

  tbody tr {
    float: left;
    width: 50%;
  }

  tbody tr:nth-child(odd) td {
    margin-right: 10px;
  }

  .container {
    max-width: 1280px;
  }

  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }

  .item {
    background-color: #ccc;
    background-blend-mode: multiply;
    transition: all ease-in-out 300ms;
  }

  .item:hover {
    background-color: transparent;
    transform: scale(1.01);
  }

  .item.ten {
    grid-row: 4 / span 2;
  }

  label[for=drawer-toggle] {
    display: none;
  }
}
